#container{
	position : absolute;
	top: 10px;
	left: 20px;
	background-color : white;
	width: 350px;
	min-height: 200px;
}
.formItem{
	float: left;
	margin: 5px;
	width : 330px;
	padding: 3px;
}
.label{
	width: 140px;
	float: left;
}
select{
	width: 140px;
	float: right;
}
.btn{
	width : 50px;
	height: 20px;
	border: 1px solid grey;
	background-color: blue;
	text-align: center;
	cursor: pointer;
}
.shadow {
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
}